<% collection.forEach(function(model, index){ %>
<% var previewCount = model.attachments.length <= 2 ? model.attachments.length : 2 %>
<div class="templateWrap listRow" data-id="<%= model._id %>">
    <div class="userBlock flexColumn">
        <div class="top flexRowStart bottomLine">
            <div class="left flexColumn">
                <img src="/preview/<%= model.createdBy.user.imageSrc %>" class="imgCircle userImgBig">
            </div>
            <div class="right flexColumn">
                <div class="userName"><%= (model.createdBy.user.name) ? model.createdBy.user.name : '' %></div>
                <div class="description fontGray"><%= (model.createdBy.user && model.createdBy.user.accessRole &&
                    model.createdBy.user.accessRole.name) ? model.createdBy.user.accessRole.name.currentLanguage : '' %>
                </div>
                <div class="description fontGray"><%= (model.createdBy.user && model.createdBy.user.position &&
                    model.createdBy.user.position.name) ? model.createdBy.user.position.name.currentLanguage : '' %>
                </div>
            </div>
        </div>
        <div class="middle flexRowStart"></div>
        <div class="bottom flexRowStart">
            <span class="userClip"><%= (model.attachments && model.attachments.length) ? model.attachments.length : '0' %></span>
            <span class="userMassage"><%- (model.commentaries && model.commentaries.length) ? model.commentaries.length : '0' %></span>
        </div>
    </div>
    <div class="locationBlock flexGrow flexColumn">
        <div class="locationTop flexRow">
            <div class="flexColumn competitorCategoeyColumn">
                <div class="locationTitle"><%- model.type %></div>
                <div class="fontSmall fontGray textEllipsis hoverFullText ">
                    <%- translation.description %> : <%- model.description %>
                </div>
            </div>
            <div class="flexRow bannerBlock">
                <% for(var i=0; i < previewCount; i++){ %>
                <div class="bannerMin">
                    <% if (model.attachments[i].preview) { %>
                    <img src="/preview/<%= model.attachments[i].preview %>" alt="<%=  model.attachments[i].originalName %>" class="bannerImage"/>
                    <% } else {%>
                    <div class="iconThumbnail <%= model.attachments[i].type %>"></div>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="dateBlock flexColumn">
        <div class="dateWrap flexRow">
            <span class="name dates"><%- model.createdAt %></span>
        </div>
    </div>
    <div class="progressBlock noShrink flexColumn">
        <div>
            <span class="name"><%- translation.status %></span>
        </div>
        <div class="bottom">
            <span class="inProgress"><%- model.status %></span>
        </div>
    </div>
</div>
<% }) %>