<% var level = App.currentUser.accessRole.level; %>
<% var creationType = creationType || contentType.capitalizer('firstCaps')%>
<div id="viewBar" class="viewBar countryViewBar">
    <div class="breadcrumbsContainerWrap">
        <a href="#qualPro/domain/country"
           class="countryLabel"
           data-translation="firstBreadCrumb">
            <%=translation.firstBreadCrumb%>
        </a>
        <div id="breadcrumbsContainer" class="breadcrumbsContainer">
        </div>
    </div>

    <div id="templateSwitcher" class="templateSwitcher">
        <a href="javascript:;"
           class="changeContentView filterType"
           id="all"
           data-translation="all">
            <%=translation.all%>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           id="archived"
           data-translation="archive">
            <%=translation.archive%>
        </a>
    </div>

    <div class="filterBar singleFilter">

    </div>
    <% if (App.currentUser.workAccess && ((level <=2) || (level >= 8))) { %>
    <div id="btnHolder">
        <span id="createBtn" class="createBtn" data-translation="newDomain"><%=translation.newDomain%></span>
    </div>

    <% if (viewType === 'thumbnails' && [2,9].indexOf(App.currentUser.accessRole.level) === -1) { %>
    <div class="checkboxArea">
        <input type="checkbox" id="checkAll" class="btnCustomCheckbox"/>
        <label for="checkAll" class="btnCheckboxLabel" data-translation="selectAll"><%=translation.selectAll%></label>
    </div>
    <% } %>

    <div id="actionHolder"
         class="actionHolder actionBtn hidden">
        <span class="dropDown downArrow triUp"><%=translation.action%></span>
        <ul class="dropDownContent">
            <li id="editBtn" class="editBtn"><%=translation.edit%></li>
            <li id="archiveBtn" data-archived-type="false" class="archiveBtn"><%=translation.disable%></li>
            <li id="unArchiveBtn" data-archived-type="true" class="archiveBtn"><%=translation.unDisable%></li>
        </ul>
    </div>
    <% } %>

    <div id="contentViewSwitcher"
         class="contentViewSwitcher">
        <ul class="btn-list">
            <li>
                <a href="javascript:;"
                   class="tiles changeContentView <%= (viewType === 'thumbnails') ? '' : 'viewBarBtnActive'%>"
                   data-view-type="thumbnails"
                   id="thumbBtn">
                </a>
            </li>
            <li>
                <a href="javascript:;"
                   class="listView changeContentView <%= (viewType === 'list') ? '' : 'viewBarBtnActive'%>"
                   data-view-type="list"
                   id="listBtn">
                </a>
            </li>
        </ul>
    </div>
    <div id="paginationHolder" class="paginationHolder">

    </div>

</div>