<div class="form-holder personnelInfo competitorBranding largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%= translation.titlePreview %></span>
    </div>
    <div class="objectivesTopBtnBlockSmall borderBottom">
        <div id="topButtons" class="buttonsWrap"></div>
    </div>
    <div id="main" class="competitorBrandingPreview competitor-branding-fix">
        <div class="blockObjective borderBottom">
            <div class="block-left borderRight">
                <div class="scrollable">
                    <div class="table">
                        <div class="row">
                            <div class="cell alignTop">
                                <span><%= translation.category %></span>
                            </div>
                            <div class="cell">
                                <span id="category" class="textEllipsis hoverFullText"><%=  jsonModel.categoryString || translation.skipped %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.brand %></span>
                            </div>
                            <div class="cell">
                                <span id="brand" class="hoverFullText"><%= jsonModel.brandString || translation.noTranslation %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span ><%= translation.country %></span>
                            </div>
                            <div class="cell">
                                <span id="country" class="hoverFullText"><%= jsonModel.countryString || translation.noTranslation %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.region %></span>
                            </div>
                            <div class="cell">
                                <span id="region" class="hoverFullText"><%= jsonModel.regionString || translation.noTranslation %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.subRegion %></span>
                            </div>
                            <div class="cell">
                                <span id="subRegion" class="hoverFullText"><%= jsonModel.subRegionString || translation.noTranslation %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.retailSegment %></span>
                            </div>
                            <div class="cell">
                                <span id="retailSegment" class="hoverFullText"><%= jsonModel.retailSegmentString || translation.noTranslation %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.outlet %></span>
                            </div>
                            <div class="cell">
                                <span id="outlet" class="hoverFullText"><%= jsonModel.outletString || translation.noTranslation %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.branch %></span>
                            </div>
                            <div class="cell">
                                <span id="branch" class="hoverFullText"><%= jsonModel.branchString || translation.noTranslation %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.displayType %></span>
                            </div>
                            <div class="cell">
                                <span id="display-type" class="hoverFullText"><%= jsonModel.displayTypeString || translation.noTranslation %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.startDate %></span>
                            </div>
                            <div class="cell">
                                <span id="date-start"><%= jsonModel.dateStart || '' %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.endDate %></span>
                            </div>
                            <div class="cell">
                                <span id="date-end"><%= jsonModel.dateEnd || '' %></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="block-right">
                <div class="absoluteContent">
                    <div class="scrollable">
                        <div class="objectivesPaddingBlock borderBottom">
                            <div class="descriptionBlock floatBlock">
                                <span><%= translation.description %></span>
                            </div>
                            <span id="description" class="descriptionValue heightDescription fontBold fontMedium mCustomScrollbar"><%= jsonModel.description.currentLanguage || translation.noTranslation  %></span>
                        </div>

                        <div id="attachments" class="attachmentsBlock">
                            <div class="attachmentsHeader">
                                <span class="attachmentsDescription fontBold"><%= translation.attachments %></span>
                            </div>
                            <div class="filesBlock borderBottom">
                                <span class="filesTitle"><%= translation.files %></span>
                                <div id="objectiveFileThumbnail" class="fileThumbnail"></div>
                            </div>
                        </div>
                        <div class="objectivesPaddingBlock innerScroll">
                            <div class="absoluteContent">
                                <div class="scrollable">
                                    <div class="commentWrapper" id="commentWrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (App.currentUser.workAccess) {%>
        <div class="blockBottom objectivesPaddingBlock">
            <div class="objectivesBtnBlock">
                <span class="greyBtn" id="attachFiles"><%= translation.attachBtn %></span>
                <span class="greyBtn" id="sendComment"><%= translation.sendBtn %></span>
                <div class="fileBottom">
                    <span class="attachment"></span>
                    <span id="newCommentAttachments"></span>
                    <div id="fileThumbnail"></div>
                </div>
            </div>
            <div class="objectivesTextareaWrap">
                <textarea class="objectivesTextarea" id="commentInput"></textarea>
            </div>
            <form action="" method="post" id="commentForm" style="display: none;"></form>
        </div>
        <%}%>

    </div>
</div>
