<div class="title">
    <span class="titleDescription"><%- translation.createFolderTitle %></span>
</div>
<div class="promotionForm documentsForm">
    <div class="blockObjective scrollingForm">
        <div class="block-left noTranslate borderRight">
            <div class="scrollable">
                <div class="table">
                    <div class="row">
                        <div class="cell alignTop">
                            <span><%- translation.title %></span>
                        </div>
                        <div class="cell mandatory">
                            <input type="text"
                                   id="title"
                                   class="objectivesInput"
                                   maxlength="32"
                                   placeholder="<%- translation.titleInput %>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
