<div class="form-holder personnelInfo largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%- translation.createTitle %></span>
    </div>
    <div class="promotionForm documentForm">
        <div class="blockObjective scrollingForm">
            <div class="block-left noTranslate borderRight">
                <div class="scrollable">
                    <div class="table">
                        <div class="row">
                            <div class="cell alignTop">
                                <span><%- translation.title %></span>
                            </div>
                            <div class="cell mandatory">
                                <input type="text"
                                       id="title"
                                       class="objectivesInput"
                                       maxlength="32"
                                       placeholder="<%- translation.titleInput %>"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-right">
                <div class="scrollable">
                    <div id="attachments" class="attachmentsBlock">
                        <div class="attachmentsHeader">
                            <span class="attachmentsDescription fontBold mandatory"><%- translation.attachments %></span>
                            <span id="attach-file" class="greyBtn right"><%- translation.attachFiles %></span>
                        </div>
                        <div class="formBlock borderBottom objectivesPaddingBlock">
                            <div id="formThumbnail"></div>
                        </div>
                        <input id="file-input" type="file" accept="<%- allowedFileTypes %>" hidden="hidden">
                        <div class="promotionFilesBlock borderBottom documentFilesBlock">
                            <div id="fileThumbnail" class="fileThumbnail objectivesPaddingBlock">
                                <div class="fileThumbnailItem brandItem masonryThumbnail hidden">
                                    <div id="file-holder" class="thumbnail_js thumbnailBody"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

