<div class="documentItem thumbnail">
    <div class="documentBody">
        <input id="checkbox" type="checkbox" class="customCheckbox">
        <label class="checkboxLabel"></label>
        <div id="item" class="bannerWrap">
            <div class="bannerMin">
                <div class="bannerImage fileThumbnailItem brandItem masonryThumbnail">
                    <div class="thumbnail_js thumbnailBody">
                        <img src="images/folder.png" class="bannerImage mCS_img_loaded">
                    </div>
                </div>
            </div>
            <span class="textSmall floatRight"></span>
        </div>
        <div id="edit" class="editContent"></div>
    </div>
    <div class="documentFooter">
        <span class="documentDescription hoverFullText fontGray"><%- title %></span>
        <span class="documentDate"><%- dateString %></span>
    </div>
</div>