<div class="featureTitleWrap" data-translation="all"><%= translation.all %></div>

<div class="filterBar"></div>

<div id="viewBar" class="viewBar planogramsViewBar" class=" viewBar documentsViewBar">
    <div id="templateSwitcher" class="templateSwitcher">
        <a href="javascript:;"
           class="changeContentView filterType"
           data-archived-type="false"
           data-translation="all"
           id="all"><%=translation.all %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-archived-type="true"
           data-translation="archive"
           id="archived"><%=translation.archive %>
        </a>
    </div>
    <span id="createFolder" class="createBtn" data-translation="newDocument">New Folder</span> <!-- new folder button -->
    <span id="createBtn" class="createBtn" data-translation="newDocument"><%=translation.newDocument %></span>
    <div class="checkboxArea">
        <input type="checkbox" id="checkAll" class="btnCustomCheckbox"/>
        <label for="checkAll" class="btnCheckboxLabel" data-translation="selectAll"><%=translation.selectAll %></label>
    </div>
    <div id="actionHolder" class="actionHolder actionBtn hidden">
        <span class="dropDown downArrow triUp" data-translation="action"><%=translation.action%></span>
        <ul class="dropDownContent">
            <li id="archiveBtn" data-archived-type="false" class="archiveBtn" data-translation="disable"><%=translation.disable%></li>
            <li id="unArchiveBtn" data-archived-type="true" class="archiveBtn" data-translation="unDisable"><%=translation.unDisable%></li>
        </ul>
    </div>
    <div id="paginationHolder" class="paginationHolder">
    </div>
</div>