<% var level = App.currentUser.accessRole.level; %>
<div class="absoluteContent">
    <table>
        <% if (((level <=2) || (level >= 8)) && App.currentUser.workAccess) { %>
        <colgroup class="forChange">
            <col width="42px">
        </colgroup>
        <% } %>
        <!--<colgroup>
            <col width="35%">
            <col width="20%">
            <col width="20%">
            <col width="15%">
            <col width="10%">
        </colgroup>-->

        <thead class="darkGrayHeader">
        <tr>
            <% if (((level <=2) || (level >= 8)) && App.currentUser.workAccess) { %>
            <th class="forChange checkboxArea alignCenter">
                <input type="checkbox" id="checkAll" class="customCheckbox"/>
                <label for="checkAll" class="checkboxLabel"></label>
            </th>
            <% } %>
            <th class="oe_sortable" sort-type="1" data-sort="name">
                <div sort-type="1" class="sortedArrow" data-translation="product"><%= translation.product %></div>
            </th>
            <th class="oe_sortable" sort-type="1" data-sort="barcode">
                <div sort-type="1" class="sortedArrow" data-translation="barcode"><%= translation.barcode %></div>
            </th>
            <th class="oe_sortable" sort-type="1" data-sort="packing">
                <div sort-type="1" class="sortedArrow" data-translation="packing"><%= translation.packing %></div>
            </th>
            <th data-translation="origin"><%= translation.origin %></th>
            <th class="oe_sortable" sort-type="1" data-sort="ppt">
                <div sort-type="1" class="sortedArrow" data-translation="ppt"><%= translation.ppt %></div>
            </th>
            <th class="oe_sortable" sort-type="1" data-sort="rspMin">
                <div sort-type="1" class="sortedArrow" data-translation="rspMin"><%- translation.rspMin %></div>
            </th>
            <th class="oe_sortable" sort-type="1" data-sort="rspMax">
                <div sort-type="1" class="sortedArrow" data-translation="rspMax"><%- translation.rspMax %></div>
            </th>
            <th class="oe_sortable" sort-type="1" data-sort="pptPerCase">
                <div sort-type="1" class="sortedArrow" data-translation="pptPerCase"><%- translation.pptPerCase %></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="7" class="changeColSpan colspanFix">
                <div class="scrollable">
                    <table class="list">
                        <% if (((level <=2) || (level >= 8)) && App.currentUser.workAccess) { %>
                        <colgroup class="forChange">
                            <col width="42px">
                        </colgroup>
                        <% } %>
                        <!--<colgroup>
                            <col width="35%">
                            <col width="20%">
                            <col width="20%">
                            <col width="15%">
                            <col width="10%">
                        </colgroup>-->
                        <tbody class="listTable"></tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
