{
  "extends": "thinkmobiles",
  "rules": {
    "no-console": [
      0,
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ]
  },
  "globals": {
    "App": true
  }
}