<div class="promotionItemsDialogWrap">
    <div class="title">
        <span class="titleDescription"><%= translation.promotionItemsTable%></span>
    </div>
    <div class="promotionTableWrap">
        <div id="paginationHolder" class="paginationHolder">
        </div>
        <table class="singleColor">
            <colgroup>
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="12%">
                <col width="80px">
                <col width="80px">
                <col width="80px">
                <col width="80px">
                <col width="13%">
                <col width="230px">
            </colgroup>
            <thead>
            <tr>
                <th class="oe_sortable" data-sort="outlet">
                    <div sort-type="1" class="sortedArrow textEllipsis hoverFullText"><%= translation.outlet%></div>
                </th>
                <th class="oe_sortable" data-sort="branch">
                    <div sort-type="1" class="sortedArrow textEllipsis hoverFullText"><%= translation.branch%></div>
                </th>
                <th class="oe_sortable" data-sort="dateStart">
                    <div sort-type="1" class="sortedArrow textEllipsis hoverFullText"><%= translation.startDate%></div>
                </th>
                <th class="oe_sortable" data-sort="dateEnd">
                    <div sort-type="1" class="sortedArrow textEllipsis hoverFullText"><%= translation.endDate%></div>
                </th>
                <th class="oe_sortable" data-sort="rsp">
                    <div sort-type="1" class="sortedArrow textEllipsis hoverFullText"><%= translation.rsp%></div>
                </th>
                <th class="oe_sortable" data-sort="satus">
                    <div sort-type="1" class="sortedArrow textEllipsis hoverFullText"><%= translation.status%></div>
                </th>
                <th>
                    <div class="textEllipsis hoverFullText"><%= translation.opening%></div>
                </th>
                <th>
                    <div class="textEllipsis hoverFullText"><%= translation.sellIn%></div>
                </th>
                <th>
                    <div class="textEllipsis hoverFullText"><%= translation.clothingStock%></div>
                </th>
                <th>
                    <div class="textEllipsis hoverFullText"><%= translation.sellOut%></div>
                </th>
                <th class="oe_sortable" data-sort="displayType">
                    <div sort-type="1" class="sortedArrow textEllipsis hoverFullText"><%= translation.displayType%></div>
                </th>
                <th>
                    <div class="textEllipsis hoverFullText"><%= translation.comment%></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="11" class="colspanFix">
                    <div class="absoluteContent">
                        <div class="scrollable">
                            <table>
                                <colgroup>
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="15%">
                                    <col width="12%">
                                    <col width="80px">
                                    <col width="80px">
                                    <col width="80px">
                                    <col width="80px">
                                    <col width="13%">
                                    <col width="230px">
                                </colgroup>
                                <tbody id="promotionsItemsTbody" class="brandingDisplayTable">
                                    <!-- table body -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>