<div class="dialogCategotyWrap visibilityContainer inStoreForm ui-dialog-content ui-widget-content">
    <div class="title">
        <span class="titleDescription"><%- translation.titleEditVisibility %></span>
    </div>
    <div class="visibilityContainerWrap scrollable">
        <div class="beforeTitle fontBold fontDefault before--title-container borderBottom">
            BEFORE
        </div>
        <div class="apply-to-all">
            <input type="checkbox" id="applyToAll">
            <label for="applyToAll">Apply to all</label>
        </div>
        <div class="banner_inner bannerFullWidth borderBottom">
            <div class=scrollable">
                <div class="banner_inner_top">
                    <span class="fontDefault">SHJ COOP AL GHARAIN</span>
                </div>
                <div class="banner_textBlock full-width">
                    <p class="uploadDescription fontDefault">Description</p>
                    <div class="uploadValue fontMedium objectivesDescValue hoverFullText">Asdasd ad q q qrqwrqwr qw</div>
                </div>
                <div class="attachments">
                    <div class="documentItem thumbnail">
                        <div class="documentBody">
                            <div id="item" class="bannerWrap">
                                <div class="bannerMin">
                                    <i class="remove-attachment">x</i>
                                    <div class="bannerImage fileThumbnailItem brandItem masonryThumbnail">
                                        <div class="thumbnail_js thumbnailBody">
                                            <img src="preview/58f61113ae642c0014c2dbf4" class="bannerImage mCS_img_loaded">
                                        </div>
                                    </div>
                                </div>
                                <span class="textSmall floatRight"></span>
                            </div>
                        </div>
                        <div class="documentFooter">
                            <span class="documentDescription hoverFullText fontGray">test.jpg</span>
                            <span class="documentDate">28.03.2017</span>
                        </div>
                    </div>
                    <div class="documentItem thumbnail">
                        <div class="documentBody">
                            <div id="item" class="bannerWrap">
                                <div class="bannerMin">
                                    <i class="remove-attachment">x</i>
                                    <div class="bannerImage fileThumbnailItem brandItem masonryThumbnail">
                                        <div class="thumbnail_js thumbnailBody">
                                            <i>+</i>
                                        </div>
                                    </div>
                                </div>
                                <span class="textSmall floatRight"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
