<div class="documentItem thumbnail select-file" data-branch-id="<%- branchId %>">
    <div class="documentBody">
        <div class="bannerWrap">
            <div class="bannerMin">
                <div class="bannerImage fileThumbnailItem brandItem masonryThumbnail">
                    <div class="thumbnail_js thumbnailBody">
                        <i>+</i>
                    </div>
                </div>
            </div>
            <span class="textSmall floatRight"></span>
        </div>
    </div>
</div>