<div class="form-holder personnelInfo promotionEdit largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%- translation.promotionItemEditView %></span>
    </div>
    <div class="promotionForm">
        <div class="blockObjective scrollingForm">
            <div class="block-left noTranslate borderRight">
                <div class="scrollable">
                    <div class="table">
                        <div class="row">
                            <div class="cell alignTop">
                                <span><%= translation.rsp %></span>
                            </div>
                            <div class="cell mandatory">
                                <input type="text"
                                       id="rsp"
                                       class="objectivesInput"
                                       value="<%= model.rsp %>"
                                       required
                                       maxlength="32"
                                       placeholder="Input rsp"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell alignTop">
                                <span><%= translation.openingStock %></span>
                            </div>
                            <div class="cell mandatory">
                                <input type="text"
                                       id="opening-stock"
                                       class="objectivesInput"
                                       value="<%= model.opening[0] %>"
                                       required
                                       maxlength="32"
                                       placeholder="Input opening stock"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell alignTop">
                                <span><%= translation.sellIn %></span>
                            </div>
                            <div class="cell mandatory">
                                <input type="text"
                                       id="sell-in"
                                       class="objectivesInput"
                                       value="<%= model.sellIn[0] %>"
                                       required
                                       maxlength="32"
                                       placeholder="Input sell in"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell alignTop">
                                <span><%= translation.clothingStock %></span>
                            </div>
                            <div class="cell mandatory">
                                <input type="text"
                                       id="closing-stock"
                                       class="objectivesInput"
                                       value="<%= model.closingStock[0] %>"
                                       required
                                       maxlength="32"
                                       placeholder="Input closing stock"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell alignTop">
                                <span><%= translation.sellOut %></span>
                            </div>
                            <div class="cell mandatory">
                                <input type="text"
                                       id="sell-out"
                                       class="objectivesInput"
                                       value="<%= model.sellOut[0] %>"
                                       required
                                       maxlength="32"
                                       placeholder="Input sell out"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%= translation.displayType %></span>
                            </div>
                            <div class="cell mandatory">
                                <a id="displayTypeDd" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%- translation.startDate %></span>
                            </div>
                            <div class="cell mandatory">
                                <div class="calendarWrap">
                                    <input type="text"
                                           id="dateStart"
                                           value="<%= model.dateStart %>"
                                           readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <span><%- translation.endDate %></span>
                            </div>
                            <div class="cell mandatory">
                                <div class="calendarWrap">
                                    <input type="text"
                                           id="dateEnd"
                                           value="<%= model.dateEnd %>"
                                           readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-right flexColumnStart">
                <div class="scrollable">
                    <div class="description">
                        <div class="objectivesPaddingBlock borderBottom">
                            <div class="descriptionBlock floatBlock">
                                <span class="description fontBold mandatory"><%= translation.comment %></span>
                            </div>
                            <div id="comment-container">
                                <textarea type="text"
                                          id="comment"
                                          data-id="<%- model.comment._id %>"
                                          class="objectivesTextarea"
                                          required
                                          maxlength="150"
                                          placeholder="<%= translation.description %>"><%= model.comment.body %>
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
