<div class="form-holder personnelInfo promotionView largeHeightPreview">
    <div class="title">
        <span class="titleDescription" data-translation="importErrorsPreviewTitle"><%- translation.importErrorsPreviewTitle %></span>
    </div>
    <div class="objectivesTopBtnBlockSmall borderBottom">
        <div id="topButtons" class="buttonsWrap"></div>
    </div>
    <div id="main" class="competitorBrandingPreview">
        <div class="blockObjective scrollingForm scrollable">
            <div class="errors-block">
                <% _.each(models, function(model) { %>
                    <% if (model.numErrors) { %>
                        <h3><%- model.sheet %> Sheet</h3>
                        <ol>
                            <% model.errors.forEach(function(error) { %>
                                <li><%- error %></li>
                            <% }); %>
                        </ol>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</div>