<div class="form-holder personnelInfo promotionView largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%- translation.importErrorsPreviewTitle %></span>
    </div>
    <div class="objectivesTopBtnBlockSmall borderBottom">
        <div id="topButtons" class="buttonsWrap"></div>
    </div>
    <div id="main" class="competitorBrandingPreview">
        <div class="blockObjective scrollingForm">
            <div class="errors-block">
                <h3>Locations Errors</h3>
                <ol>
                    <li>But the second case is different. We need some way to update the state in our application – If data flows from parent to child, this can’t work – or can it?</li>
                    <li>Error 2</li>
                    <li>Error 3</li>
                    <li>Error 4</li>
                    <li>Error 5</li>
                </ol>
            </div>
        </div>
    </div>
</div>