<div class="col-3">
    <button id="locations" class="import-button">
        <i class="icon-office font-yellow"></i><br>
        <span id="locations-button-title">Import Locations</span>
        <span>Drag files or click here</span>
    </button>
</div>
<div class="col-3">
    <button id="personnels" class="import-button">
        <i class="icon-office font-green"></i><br>
        <span id="personnels-button-title">Import Personnel</span>
        <span>Drag files or click here</span>
    </button>
</div>
<div class="col-3">
    <button id="item-prices" class="import-button">
        <i class="icon-office font-red"></i><br>
        <span id="item-prices-button-title">Import Items&Prices</span>
        <span>Drag files or click here</span>
    </button>
</div>
<div class="col-3">
    <button id="competitor-list" class="import-button">
        <i class="icon-office font-blue"></i><br>
        <span id="competitor-list-button-title">Import Competitor list</span>
        <span>Drag files or click here</span>
    </button>
</div>