<div class="col-3">
    <button id="locations" class="import-button">
        <i class="icon-office font-yellow"></i><br>
        <span id="locations-button-title" data-translation="importLocationsTitle"><%- translation.importLocationsTitle %></span>
        <span data-translation="dragOrClickTitle"><%- translation.dragOrClickTitle %></span>
    </button>
</div>
<div class="col-3">
    <button id="personnels" class="import-button">
        <i class="icon-office font-green"></i><br>
        <span id="personnels-button-title" data-translation="importPersonnelTitle"><%- translation.importPersonnelTitle %></span>
        <span data-translation="dragOrClickTitle"><%- translation.dragOrClickTitle %></span>
    </button>
</div>
<div class="col-3">
    <button id="item-prices" class="import-button">
        <i class="icon-office font-red"></i><br>
        <span id="item-prices-button-title" data-translation="importItemsPricesTitle"><%- translation.importItemsPricesTitle %></span>
        <span data-translation="dragOrClickTitle"><%- translation.dragOrClickTitle %></span>
    </button>
</div>
<div class="col-3">
    <button id="competitor-list" class="import-button">
        <i class="icon-office font-blue"></i><br>
        <span id="competitor-list-button-title" data-translation="importCompetitorListTitle"><%- translation.importCompetitorListTitle %></span>
        <span data-translation="dragOrClickTitle"><%- translation.dragOrClickTitle %></span>
    </button>
</div>