<div class="col-3">
    <button class="import-button">
        <i class="icon-office font-yellow"></i><br>
        Import Locations
        <span>Drag files or click here</span>
    </button>
</div>
<div class="col-3">
    <button class="import-button">
        <i class="icon-office font-green"></i><br>
        Import Personnel
        <span>Drag files or click here</span>
    </button>
</div>
<div class="col-3">
    <button class="import-button">
        <i class="icon-office font-red"></i><br>
        Import Items&Prices
        <span>Drag files or click here</span>
    </button>
</div>
<div class="col-3">
    <button class="import-button">
        <i class="icon-office font-blue"></i><br>
        Import Competitor list
        <span>Drag files or click here</span>
    </button>
</div>