<% collection.forEach(function(model, index){ %>
<% var previewCount = model.attachments.length <= 2 ? model.attachments.length : 2 %>
<div class="templateWrap listRow" data-id="<%= model._id %>">
    <div class="userBlock flexColumn">
        <div class="top flexRowStart bottomLine">
            <div class="left flexColumn">
                <img src="preview/<%= model.createdBy.user.imageSrc %>" class="imgCircle userImgBig">
            </div>
            <div class="right flexColumn">
                <div class="userName"><%= (model.createdBy.user && model.createdBy.user.firstName) ?
                    model.createdBy.user.firstName.currentLanguage + ' ' + model.createdBy.user.lastName.currentLanguage
                    : '' %>
                </div>
                <div class="description fontGray"><%= (model.createdBy.user && model.createdBy.user.accessRole &&
                    model.createdBy.user.accessRole.name) ? model.createdBy.user.accessRole.name.currentLanguage : '' %>
                </div>
                <div class="description fontGray"><%= (model.createdBy.user && model.createdBy.user.position &&
                    model.createdBy.user.position.name) ? model.createdBy.user.position.name.currentLanguage : '' %>
                </div>
            </div>
        </div>
        <div class="middle flexRowStart">

        </div>
        <div class="bottom flexRowStart">
            <span class="userClip"><%= model.attachments.length %></span>
        </div>
    </div>
    <div class="locationBlock flexGrow flexColumn">
        <div class="locationTop flexRow">
            <div class="flexColumn">
                <div class="flexRow">
                    <div class="locationTitle textEllipsis hoverFullText"><%= translation.description + ': ' %> <%=
                        model.description.currentLanguage || '' %>
                    </div>
                    <span class="textSmall"></span>
                </div>
                <div class="fontSmall fontGray textEllipsis hoverFullText multiEllipsis">
                    <%= translation.comment + ': '%> <%= model.additionalComment.currentLanguage || '' %>
                </div>
            </div>
            <div class="flexRow bannerBlock">
                <% for(var i=0; i
                < previewCount
                        ; i++){ %>
                    <div class="bannerMin">
                        <% if (model.attachments[i].preview) { %>
                        <img src="preview/<%= model.attachments[i].preview %>" alt="<%=  model.attachments[i].originalName %>" class="bannerImage"/>
                        <% } else {%>
                        <div class="iconThumbnail <%= model.attachments[i].type %>"></div>
                        <% } %>
                    </div>
                    <% } %>
                <span class="fontGray noShrink"><%= translation.startDate %>:</span>
            </div>
        </div>
        <div class="locationBottom flexRowStart">
            <span class="location flexGrow textEllipsis fontGray hoverFullText"><%= translation.location + ': '%> <%= model.location%> </span>
            <span class="fontGray noShrink"><%= translation.endDate %>:</span>
        </div>
    </div>
    <div class="dateBlock flexColumn">
        <div class="dateWrap flexRow">
            <span class="name dates"><%= model.startDate %></span>
        </div>
        <div class="dateWrap flexRow">
            <span class="name dates"><%= model.endDate %></span>
        </div>
    </div>
</div>
<% }) %>