<div class="respondentsItemWrap borderBottom">
    <div class="respondentsItem">
        <div class="itemTitle"><%= translation.type %>: <%= question.type.name.currentLanguage %></div>
        <div><%= question.title.currentLanguage %>
        </div>
    </div>
    <div class="respondentsItem">
        <div class="itemTitle"><%= question.type.name.currentLanguage %></div>
        <div id="respondent-full-answer-<%- answerId %>" class="respondentsInfo">
            <%= answerText.currentLanguage %>
        </div>
    </div>
    <div class="<%= allowEdit ? '' : 'hidden' %>">
        <button class="edit-answer" data-question-id="<%- question._id %>" data-personnel-id="<%- personnelId %>">Edit</button>
    </div>
</div>