<div class="form-holder personnelInfo promotionEdit documentsEdit largeHeightPreview">
<div class="title">
    <span class="titleDescription" data-translation="editTitle"><%=translation.editTitle%></span>
</div>
<div class="promotionForm documentsForm">
    <div class="blockObjective scrollingForm">
        <div class="block-left noTranslate borderRight">
            <div class="scrollable">
                <div class="table">
                    <div class="row">
                        <div class="cell alignTop">
                            <span data-translation="title"><%=translation.title%></span>
                        </div>
                        <div class="cell mandatory">
                            <input type="text"
                                   id="titleDd"
                                   class="objectivesInput"
                                   value="<%= jsonModel.title %>"
                                   required
                                   maxlength="32"
                                   data-translation="titleInput"
                                   placeholder="<%=translation.titleInput%>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="post" id="mainForm"></form>
    </div>
</div>
</div>
