<% var level = App.currentUser.accessRole.level; %>
<% items.forEach(function(group, index){ %>
<tr data-id="<%=group._id%>" class="listRow">
    <% if (App.currentUser.workAccess && ((level <=2) || (level >= 8))) { %>
    <% if (archived && group.topArchived) { %>
        <td class="checkboxArea alignCenter">
            <input type="checkbox" id="<%=group._id%>" value="<%=group._id%>" class="customCheckbox" data-contentType="brand"/>
            <label for="<%=group._id%>" class="checkboxLabel"></label>
        </td>
    <% } else if (archived) { %>
       <td></td>
    <% } %>
    <% } %>
    <td colspan="3" class="tableGrayDark"><%=group.brandName ? group.brandName.currentLanguage.toUpperCase() : ''%></td>
</tr>

<% if (group.categories) { %>
<% group.categories.forEach(function(category, index){ %>
<tr data-id="<%=category._id%>" class="listRow">
    <% if (App.currentUser.workAccess && ((level <=2) || (level >= 8))) { %>
    <% if (archived && category.topArchived) { %>
    <td class="checkboxArea alignCenter">
        <input type="checkbox" id="<%=category._id%>" value="<%=category._id%>" class="customCheckbox" data-contentType="category"/>
        <label for="<%=category._id%>" class="checkboxLabel"></label>
    </td>
    <% } else if (archived) { %>
      <td></td>
    <% } %>
    <% } %>
    <td colspan="3" class="tableGrayLight"><%=category.categoryName ? category.categoryName.currentLanguage.toUpperCase() : ''%></td>
</tr>

<% if (category.variants) { %>
<% category.variants.forEach(function(variant, index){ %>
<tr data-id="<%=variant._id%>" class="listRow">
    <% if (App.currentUser.workAccess && ((level <=2) || (level >= 8))) { %>
    <% if (archived && variant.topArchived) { %>
    <td class="checkboxArea alignCenter">
        <input type="checkbox" id="<%=variant._id%>" value="<%=variant._id%>" class="customCheckbox" data-contentType="competitorVariant"/>
        <label for="<%=variant._id%>" class="checkboxLabel"></label>
    </td>
    <% } else if (archived) { %>
      <td></td>
    <% } %>
    <% } %>
    <td colspan="3" class="tableGrayLight"><%=variant.variantName ? variant.variantName.currentLanguage.toUpperCase() : ''%></td>
</tr>

<% if (variant.items) { %>
<% variant.items.forEach(function(item, index){ %>
<tr data-id="<%=item._id%>" class="listRow">
    <% if (App.currentUser.workAccess && ((level <=2) || (level >= 8))) { %>
    <% if (archived && item.topArchived) { %>
        <td class="checkboxArea alignCenter">
            <input type="checkbox" id="<%=item._id%>" value="<%=item._id%>" class="customCheckbox" data-contentType="competitorItem"/>
            <label for="<%=item._id%>" class="checkboxLabel"></label>
        </td>
    <% } else if (archived) { %>
        <td></td>
    <% } %>
    <% } %>
    <td><%=item.name ? item.name.currentLanguage : ''%></td>
    <td><%=item.packing%></td>
    <td>
        <%= item.origin ? _.map(item.origin, function (el) { return el.name.currentLanguage; }).join(', ') : '' %>
    </td>
</tr>
<% }) %>
<% } %>

<% }) %>
<% } %>

<% }) %>
<% } %>
<% }) %>