<% var level = App.currentUser.accessRole.level; %>

<% collection.forEach(function(personnel, index){ %>
<% var avgRating = personnel.avgRating ? personnel.avgRating.monthly : 0; %>
<div class="thumbnail personnel" data-id="<%=personnel._id%>">
    <div class="thumbnailTop">
        <% if (((level <=2) || (level >= 8)) && App.currentUser.workAccess) { %>
        <input type="checkbox"
               value="<%=personnel._id%>"
               id="<%=personnel._id%>"
               class="customCheckbox hidden">
        <label for="<%=personnel._id%>"
               class="checkboxLabel"></label>
        <% } %>
        <span class="status <%=personnel.status?personnel.status.classCss:''%>"></span>
        <img class="thumbnailImage" src="<%=personnel.imageSrc%>">
        <% if( personnel.accessRole && personnel.accessRole.level > 2 && personnel.accessRole.level <8 && App.currentUser.workAccess){ %>
        <select class="rating">
            <option value="0"
            <%= avgRating === 0 ? 'selected' : '' %> >0</option>
            <option value="1"
            <%= avgRating === 1 ? 'selected' : '' %> >1</option>
            <option value="2"
            <%= avgRating === 2 ? 'selected' : '' %> >2</option>
            <option value="3"
            <%= avgRating === 3 ? 'selected' : '' %> >3</option>
            <option value="4"
            <%= avgRating === 4 ? 'selected' : '' %> >4</option>
            <option value="5"
            <%= avgRating === 5 ? 'selected' : '' %> >5</option>
        </select>
        <% } %>
    </div>
    <div class="thumbnailBottom">
        <span class="userFullName"><%=personnel.firstName.currentLanguage + ' ' + personnel.lastName.currentLanguage%></span>
        <span class="userPosition"><%=personnel.position?personnel.position.name.currentLanguage:'No position'%></span>
        <span class="userCountry"><%=personnel.country.map(function(country) { return country.name.currentLanguage }).join(', ')%></span>
    </div>
</div>
<% }) %>