<div id="loginPanel" class="loginPanel">
    <div class="personelShortDetail"></div>
    <ul id="aditionalInfo" class="aditionalInfo">
        <li class="contactUsIcon <%- showContactUsBadge ? '' : 'hidden' %>">
            <a href="#qualPro/contactUs" class="contactUs"></a>
        </li>
        <li class="questionItem">
            <a href="http://alalali.foxtrapp.info/" target="_blank" class="question"></a>
        </li>
        <li class="numberItme">
            <a href="javascript:;" class="bell"></a>
            <span id="notificationCount" class="count_rounded"></span>
        </li>
        <li>
            <a href="javascript:;" class="chat"></a>
        </li>
        <li>
            <div class="currentLanguageWrap" title="Set current language">
                <input type="checkbox" id="currentLanguageInput" class="currentLanguageInput"/>
                <label for="currentLanguageInput">
                    <span class="switcherBg"></span>
                </label>
            </div>
        </li>
        <li class="logOutIcon">
            <a href="javascript:;" class="logOut"></a>
        </li>
    </ul>
</div>
