<div class="form-holder">
    <div class="title">
        <h3><%- translation.editAnswerViewTitle %></h3>
    </div>
    <div class="shelfShareDialog">
        <table>
            <colgroup>
                <col width="250px">
            </colgroup>
            <thead>
                <tr>
                    <th><%- question %></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="1" class="colspanFix">
                        <div class="scrollable">
                            <table class="list">
                                <colgroup>
                                    <col width="250px">
                                </colgroup>
                                <tbody id="mainContent" class="shelfShareTableBody">
                                    <tr>
                                        <td id="answer-container"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>