<% var percent; %>

<% var currentLanguage = App.currentUser.currentLanguage %>
<% collection.forEach(function(model, index){ %>
<% var country = [];%>

<% model.country.forEach(function(item){ %>
<% country.push(item.name[currentLanguage]); %>
<% }); %>
<div class="templateWrap listRow <%= model.objectiveType === 'Individual' ? 'leftBorderG' : 'leftBorderY' %>" data-id="<%= model._id %>">
    <div class="userBlock flexColumn">
        <div class="top flexRowStart bottomLine">
            <div class="left flexColumn">
                <img src="preview/<%= model.createdBy.user.imageSrc %>" class="imgCircle userImgBig">
            </div>
            <div class="right flexColumn">
                <div class="userName"><%= (model.createdBy.user && model.createdBy.user.firstName) ? model.createdBy.user.firstName[currentLanguage] + ' ' + model.createdBy.user.lastName[currentLanguage] : '' %></div>
                <div class="description fontGray"><%= (model.createdBy.user && model.createdBy.user.accessRole && model.createdBy.user.accessRole.name) ? model.createdBy.user.accessRole.name[currentLanguage] : '' %></div>
                <div class="description fontGray"><%= (model.createdBy.user && model.createdBy.user.position && model.createdBy.user.position.name) ? model.createdBy.user.position.name[currentLanguage] : '' %></div>
            </div>
        </div>
        <div class="notificationsOverflowWrap">
            <% model.recipients.forEach( function(recipient) { %>
                <img src="preview/<%= recipient.imageSrc %>" class="imgCircle userImgSmall">
            <% }); %>
        </div>
    </div>
    <div class="locationBlock flexGrow flexColumn">
        <div class="locationTop">
            <div class="flexRow">
                <div class="flexColumn locationTitleWrap">
                    <span class="textSmall"></span>
                    <div class="fontSmall fontGray textEllipsis multiEllipsis"><%= model.description[currentLanguage] %></div>
                </div>
                <div class="bannerWrap floatRight">
                    <div class="bannerMin">
                        <div class="bannerMd fileThumbnailItem brandItem masonryThumbnail">
                            <div class="thumbnail_js thumbnailBody">
                                <!--insert image here-->
                                <% model.attachments.map((attachment) => { %>
                                <div class="filetype-<%- attachment.name.split('.').pop() %> floatLeft">
                                    <% if(attachment.name.split('.').pop() == 'png' || attachment.name.split('.').pop() == 'jpg') { %>
                                    <img class="" src="<%- attachment.preview %>"/>
                                    <% } %>
                                </div>
                                <% }); %>
                                <!--insert image here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="locationBottom flexRowStart">
            <span class="location flexGrow textEllipsis fontGray hoverFullText"><%= translation.location %>: <%= country.join(', ') || 'No translation' %> </span>
        </div>
    </div>
    <div class="dateBlock flexColumn">
        <div class="dateWrap flexRow">
            <span class="name dates"><%= model.createdBy.date %></span>
        </div>
    </div>
</div>
<% }) %>
