<div class="featureTitleWrap" data-translation="all">
    <%= translation.all %>
</div>

<div class="filterBar">
</div>

<div id="viewBar" class="viewBar inStoreReportingViewBar">
    <div id="templateSwitcher" class="templateSwitcher">
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="all"
           data-translation="allTasks"
           id="all"><%= translation.allTasks %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="assignedToMe"
           data-translation="assignedToMe"
           id="assignedToMe"><%= translation.assignedToMe %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="createdByMe"
           data-translation="createdByMe"
           id="createdByMe"><%= translation.createdByMe %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="myCover"
           data-translation="myCoverTasks"
           id="myCover"><%= translation.myCoverTasks %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="closed"
           data-translation="closed"
           id="closed"><%= translation.closed %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="myCC"
           data-translation="myCC"
           id="myCC"><%= translation.myCCTasks %>
        </a>
    </div>

    <span id="createBtn" class="createBtn" data-translation="newTask"><%= translation.newTask %></span>

    <div id="paginationHolder" class="paginationHolder">

    </div>

</div>