<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name='csrf-token' content={{ csrfToken }}>
    <script type="text/javascript">
        var PUBNUB_SUBSCRIBE_KEY = "{{ pubnubSubscribeKey }}";
        var PREVIEW_URL_ROOT = "{{ previewUrlRoot }}";
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title id="mainTitle">Al Alali</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon"
          type="image/png"
          href="favicon.ico">
    <link rel="stylesheet"
          href="js/libs/Jcrop/css/jquery.Jcrop.min.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="js/libs/jquery-ui/themes/base/jquery-ui.min.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="js/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"
          type="text/css"/>
    <link id="mainStyle"
          rel="stylesheet"
          href="css/main_en.css"
          type="text/css"/>
    <script data-main="js/main" src="js/libs/requirejs/require.js"></script>
</head>
<body>
<div id="loader" class="loader">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>
<div id="dialogHandler" class="dialogHandler"></div>
<div id="errorHandler" class="notification"></div>
<div id="alaliLogo" class="ellipseAnimated">
    <div class="alaliPreloader">
        <a href="#qualPro/activityList" title="Return to the al alali homepage">
            <img src="../../images/main-logo-animate2.png" alt="logo"/>
            <div class="alaliPreloaderGradient">
                <div class="gradient animated"></div>
            </div>
        </a>
    </div>
    <div class="logoTop">
        <img src="../../images/main-logo-stroke.png" alt="logo"/>
    </div>
</div>
<div id="wrapper" class="wrapper"></div>
</body>
</html>
