<% collection.forEach(function (model) { %>
<tr id="shelf-share-item-block-<%- model.brands._id %>">
    <td><%= model.timeStamp %></td>
    <td><%= model.branch.name.currentLanguage %></td>
    <td id="<%- model._id %>"><%= model.length %>m</td>
    <td><%= model.employee.name.currentLanguage %></td>
    <td class="<%= permittedToManage ? '' : 'hidden' %>">
        <button id="edit" data-id="<%- model._id %>" data-item-id="<%- model.brands._id %>" data-value="<%- model.length %>"><%- translation.edit %></button>
        <button id="delete" data-id="<%- model._id %>" data-item-id="<%- model.brands._id %>"><%- translation.delete %></button>
    </td>
</tr>
<% });%>