<div id="forgotPassword" class="forgotPassword">
    <!--<a href="http://alalali.com/en/" title="Return to the al alali homepage" class="mainLogo"><img src="../images/main-logo.png" alt=""/></a>-->
    <form id="sendLogin" class="loginForm">
        <fieldset>

            <h3>Forgot Your password?</h3>
            <span class="forgotDescription">Enter your phone number or e-mail below and we'll sent you password reset instructions.</span>

            <div class="selectOptions">
                <input id="phoneNumberRadio" class="ratingOption" type="radio" name="option" value="phone" checked>
                <label for="phoneNumberRadio" class="inputWrap">Phone number</label>

                <input id="emailRadio" class="ratingOption" type="radio" name="option" value="email">
                <label for="emailRadio" class="inputWrap">E-mail</label>
            </div>

            <input id="login" type="text" name="login" class="forgotInput" value="" autofocus maxlength="64" placeholder="Enter phone number"/>

            <a id="submitButton" class="submitButton" href="javascript:;">Submit</a>
            <div class="bottom-loginForm">
                <a id="backToLogin" class="forgot-button" href="javascript;">Back to login</a>
            </div>
        </fieldset>
    </form>
</div>
