@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4r31y4');
    src: url('../fonts/icomoon.eot?4r31y4#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?4r31y4') format('truetype'), url('../fonts/icomoon.woff?4r31y4') format('woff'), url('../fonts/icomoon.svg?4r31y4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}