<div class="documentItem thumbnail">
    <div class="documentBody">
        <input type="checkbox" class="customCheckbox file-checkbox" data-file-id="<%- _id %>">
        <label class="checkboxLabel"></label>
        <div id="item" class="bannerWrap">
            <div class="bannerMin">
                <div class="bannerImage fileThumbnailItem brandItem masonryThumbnail">
                    <div class="thumbnail_js thumbnailBody"><%- content %></div>
                </div>
            </div>
            <span class="textSmall floatRight"></span>
        </div>
    </div>
    <div class="documentFooter">
        <span class="documentDescription hoverFullText fontGray"><%- fileName %></span>
        <span class="documentDate"><%- date %></span>
    </div>
</div>
