<div class="form-holder personnelInfo promotionEdit largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%- translation.manageProductsInformation %></span>
    </div>
    <div class="promotionForm planograms">
        <div class="blockObjective scrollingForm">
            <div class="visibilityContainer flexRow">
                <div class="banner_inner bannerFullWidth">
                    <div class="scrollable">
                        <div class="dialogCategoryTitle">
                            <span class="categoryTitle">Category</span>
                            <div class="categoryButtonWrap">
                                <a href="" class="addBtn" style="display: inline;"></a>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Name 1 lalala</td>
                            </tr>
                            <tr>
                                <td>Name 1 lalala</td>
                            </tr>
                            <tr>
                                <td>Name 1 lalala</td>
                            </tr>
                            <tr>
                                <td>Name 1 lalala</td>
                            </tr>
                            <tr>
                                <td>Name 1 lalala</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="banner_inner bannerFullWidth">
                    <div class="scrollable">
                        <div class="dialogCategoryTitle">
                            <span class="categoryTitle">Category</span>
                            <div class="categoryButtonWrap">
                                <a href="" class="addBtn" style="display: inline;"></a>
                                <a href="" class="deleteBtn" style="display: inline;"></a>
                            </div>
                        </div>
                        <div>
                            <div class="documentItem thumbnail">
                            <div class="documentBody">
                                <input id="checkbox" type="checkbox" class="customCheckbox">
                                <label class="checkboxLabel"></label>
                                <div id="item" class="bannerWrap">
                                    <div class="bannerMin">
                                        <div class="bannerImage fileThumbnailItem brandItem masonryThumbnail">
                                            <div class="thumbnail_js thumbnailBody">

                                                <img src="preview/58f8cf64839e6b0014f6d8d6" class="bannerImage mCS_img_loaded">

                                            </div>
                                        </div>
                                    </div>
                                    <span class="textSmall floatRight"></span>
                                </div>
                                <div id="edit" class="editContent"></div>
                            </div>
                                <div class="documentFooter">
                                    <span class="documentDescription hoverFullText fontGray">testsing</span>
                                    <span class="documentDate">06.04.2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
