<div class="form-holder personnelInfo promotionEdit largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%- translation.manageProductsInformation %></span>
    </div>
    <div class="promotionForm">
        <div class="blockObjective scrollingForm">
            <div class="visibilityContainer flexRow">
                <div class="banner_inner bannerFullWidth">
                    <div class="scrollable">

                    </div>
                </div>
                <div class="banner_inner bannerFullWidth">
                    <div class="scrollable">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
