<div class="form-holder">
    <div class="title">
        <span class="titleDescription" data-translation="preViewTitle"><%=translation.preViewTitle %></span>
    </div>
    <% if(activityList){ %>
    <div class="objectivesTopBtnBlockSmall borderBottom">
        <div id="topButtons" class="buttonsWrap">
        </div>
    </div>
    <%}%>
    <div id="main" class="notesPreviewWrap">
        <div class="notesPreviewTitle">
            <span class="fontBold" data-translation="title"><%=translation.title %></span>
            <span id="title"><%= jsonModel.title || '' %></span>
        </div>
        <div class="notesPreviewTitle">
            <span class="fontBold" data-translation="theme"><%=translation.theme %></span>
            <span id="theme"><%= jsonModel.theme || '' %></span>
        </div>
        <div class="notesPreviewBodyWrap">
            <span class="fontBold" data-translation="description"><%=translation.description %>:</span>
            <div class="notesPreviewBody scrollable">
                <span id="description"><%= jsonModel.description || '' %></span>
                <div class="filesBlock borderBottom" id="objectiveFiles" style="display: block;">
                    <span class="filesTitle">Files</span>
                    <div id="objectiveFileThumbnail" class="fileThumbnail">
                        <% jsonModel.attachments.map((attachment) => { %>
                        <div data-id="<%- attachment._id %>" class="fileThumbnailItem brandItem masonryThumbnail">
                            <div class="thumbnail_js thumbnailBody">
                                <div class="thumbnail_js thumbnailBody">
                                    <div class="filetype-<%- attachment.name.split('.').pop() %>">
                                        <% if(attachment.name.split('.').pop() == 'png' || attachment.name.split('.').pop() == 'jpg') { %>
                                        <img class="" src="<%- attachment.url %>"/>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="objectivesFileName fontMicro"><%- attachment.originalName %></div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>