<div class="dropDownInputWrap">
    <div class="dropDownInput">
        <input id="<%= contentType %>Dd" autocomplete="off" data-property="<%= dataProperty || contentType %>" type="text" class="grayDropdownInput dropDown formField" placeholder="<%= displayText %>" value="">
        <span class="dropDown downArrow triDown"></span>
    </div>
    <% if (forPosition) { %>
    <div class="forPosition">
        <% } %>
        <div class="dropDownContent dropDownList">
            <ul class="selectAll <%- showSelectAll ? '' : 'hidden' %>">
                <li id="select-all-li-<%- contentType %>" class=""> <!-- "checkedValue" or "" -->
                    <span id="select-all" class="floatRight"></span>
                    <%- translation.selectAll %>
                </li>
            </ul>
            <ul class="dropDownItems">
                <!-- dropDownContent template -->
            </ul>
            <li class="dropDownPagination">
                <a href="javascript:;" class="prev">&lt;<%- translation.prev %></a>
                <span class="counter"></span>
                <a href="javascript:;" class="next"><%- translation.next %>&gt;</a>
            </li>
        </div>
        <% if (forPosition) { %>
    </div>
    <% } %>
</div>