<div class="dataPickerDialog">
    <div class="title">
        <span class="titleDescription">Period</span>
        <input type="text" style="height:0px; outline-color: InactiveBorder; border-color: transparent">
    </div>
    <div class="leftPart">
        <label for="startDate">from</label>
        <input type="text" id="startDate" class="datapickerInput" value="" readonly>
    </div>
    <div class="rightPart">
        <label for="endDate">to</label>
        <input type="text" id="endDate" class="datapickerInput" value="" readonly>
    </div>
</div>