<div class="form-holder">
    <div class="title">
        <span><%= translation.location%></span>
    </div>
    <div id="previewLocation" class="form previewLocation">
        <div id="main" class="">
            <div class="locationPath">
                <div class="scrollable">
                    <span id="location"></span>
                </div>
            </div>
            <!-- main template -->
            <div class="scrollable-yx">
                <div id="tree">
                    <!-- tree would be here-->
                </div>
            </div>
        </div>
    </div>
</div>