<div class="dialogCategotyWrap visibilityContainer inStoreForm">
    <div class="title">
        <span class="titleDescription"><%= translation.titleEditVisibility %></span>
    </div>
    <form id="mainVisForm" class="visibilityContainer flexRow inStoreForm">
        <div class="banner_inner bannerFullWidth">
            <div class="beforeTitle fontBold fontDefault borderBottom"><%= translation.before %></div>
            <div class="scrollable partType beforeEdit">
                <div class="banner_inner_top">
                    <span class="fontDefault"><%- locationString %></span>
                </div>
                <div class="bannerBig">
                    <div id="remove" class="close left arrowLeft hidden"></div>
                    <div id="imageMy" class="bannerImage"><%= fileContainer || '' %></div>
                    <div class="bannerDescription picSquare bannerIcon">
                        <p class="uploadValue fontMedium"><%= translation.addBeforeMedia %></p>
                        <input type="file"
                               id="photo"
                               class="uploadInput"
                               name="files"
                               accept="<%= allowed %>"
                        />
                    </div>
                </div>
                <div class="banner_textBlock">
                    <p class="uploadDescription fontDefault"><%= translation.description %></p>
                    <div id="beforeForm"><%- description %></div>
                </div>
            </div>
        </div>
    </form>
</div>
