<% var currentLanguage = App && App.currentUser && App.currentUser.currentLanguage ? App.currentUser.currentLanguage : 'en'; %>
<% var anotherLanguage = currentLanguage === 'en' ? 'ar' : 'en'; %>

<div class="form-holder personnelInfo largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%= translation.titleCreate %></span>
    </div>
    <div class="objectivesForm smallHeightPreview">
        <div class="blockObjective scrollingForm">
            <div class="block-left withTranslate borderRight">
                <div class="table">
                    <div class="row">
                        <div class="cell alignTop">
                            <span><%= translation.title %></span>
                        </div>
                        <div class="cell mandatory">
                            <div>
                                <input type="text"
                                       data-parent="title"
                                       data-property="en"
                                       id="titleEn"
                                       class="objectivesInput enInput"
                                       value=""
                                       maxlength="32"
                                       placeholder="<%= translation.title %>"
                                       dir="ltr"/>
                                <a class="showHideAr <%= currentLanguage === 'en' ? 'arabicIcon' : 'englishIcon' %>"
                                   data-id="title<%= anotherLanguage.capitalizer('firstCaps') %>"
                                   href="javascript:;">
                                </a>
                            </div>
                            <div>
                                <input id="titleAr"
                                       class="objectivesInput arInput"
                                       data-parent="title"
                                       data-property="ar"
                                       value=""
                                       placeholder="<%= translation.title %>"
                                       maxlength="56"
                                       dir="rtl">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <span><%= translation.type %></span>
                        </div>
                        <div class="cell mandatory">
                            <a id="typeDd" class=""
                               href="javascript:;">Select
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell mandatory">
                            <span><%= translation.assignTo %></span>
                        </div>
                        <div class="cell mandatory">
                            <div class="selectInput">
                                <a id="assignDd"
                                   class="assignDd hoverFullText textEllipsis"
                                   href="javascript:;"><%= translation.selectPersonnel %>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell ">
                            <span><%= translation.status %></span>
                        </div>
                        <div class="cell">
                            <span><%= translation.draft %></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <span><%= translation.priority %></span>
                        </div>
                        <div class="cell mandatory">
                            <a id="priorityDd"
                               href="javascript:;">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell alignTop">
                            <span><%= translation.location %></span>
                        </div>
                        <div class="cell locationCell hoverFullText mandatory">
                            <span id="personnelLocation" class="textEllipsis"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <span><%= translation.startDate %></span>
                        </div>
                        <div class="cell mandatory">
                            <div class="calendarWrap">
                                <input type="text"
                                       id="dateStart"
                                       value=""
                                       readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <span><%= translation.endDate %></span>
                        </div>
                        <div class="cell mandatory">
                            <div class="calendarWrap">
                                <input type="text"
                                       id="dateEnd"
                                       value=""
                                       readonly/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-right">
                <div class="scrollable">
                    <div class="description">
                        <div class="objectivesPaddingBlock borderBottom">
                            <div class="descriptionBlock floatBlock">
                                <span class="description fontBold mandatory"><%= translation.description %></span>
                                <a class="showHideAr <%= currentLanguage === 'en' ? 'arabicIcon' : 'englishIcon' %>"
                                   data-id="description<%= anotherLanguage.capitalizer('firstCaps') %>Container"
                                   href="javascript:;">
                                </a>
                            </div>
                            <div id="descriptionEnContainer">
                                <textarea type="text"
                                          data-parent="description"
                                          data-property="en"
                                          class="objectivesTextarea"
                                          value=""
                                          maxlength="120"
                                          placeholder="<%= translation.description%>">
                                </textarea>
                            </div>
                        </div>
                        <div class="objectivesPaddingBlock borderBottom descriptionArContainer"
                             id="descriptionArContainer">
                            <textarea class="objectivesTextarea"
                                      data-parent="description"
                                      data-property="ar"
                                      value=""
                                      placeholder="<%= translation.description %>"
                                      maxlength="120">
                            </textarea>
                        </div>
                    </div>
                    <div id="attachments" class="attachmentsBlock">
                        <div class="attachmentsHeader">
                            <span class="attachmentsDescription fontBold"><%= translation.attachments %></span>
                            <div id="actionHolder" class="actionHolder actionBtn">
                                <span class="dropDown downArrow triUp"><%= translation.action %></span>
                                <ul class="dropDownContent">
                                    <li id="attachFile" class="hasSubMenu"><%= translation.attachFiles %></li>
                                    <li id="attachForm" class="archiveBtn hidden"><%= translation.linkForm %></li>
                                    <li id="unlinkForm" class="archiveBtn hidden"><%= translation.unlinkForm %></li>
                                </ul>
                            </div>
                        </div>
                        <div class="formBlock borderBottom objectivesPaddingBlock">
                            <div id="formThumbnail"></div>
                        </div>
                        <div class="filesBlock borderBottom">
                            <span class="filesTitle"><%= translation.files %></span>
                            <form action="" method="post" id="mainForm"></form>
                            <div id="fileThumbnail" class="fileThumbnail objectivesPaddingBlock"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
