<div class="dialogCategoryTitle">
    <span class="categoryTitle"><%= translation.configurations %></span>
    <div class="categoryButtonWrap">
        <a href="javascript:;" class="addBtn" title="<%= translation.addNewItem%>"></a>
        <a href="javascript:;" class="deleteBtn" title="<%= translation.deleteItem%>"></a>
        <a href="javascript:;" class="editBtn" title="<%= translation.editItem%>"></a>
    </div>
</div>
<div class="categoryTableWrap">
    <div class="absoluteContent clickableTable">
        <table>
            <colgroup>
                <col width="52px">
                <col width="100%">
            </colgroup>
            <thead>
            <tr>
                <th class="checkboxArea alignCenter">
                    <input type="checkbox" id="checkAll" class="customCheckbox"/>
                    <label for="checkAll" class="checkboxLabel"></label>
                </th>
                <th><%= translation.configuration %></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2" class="colspanFix">
                    <div class="scrollable">
                        <table>
                            <colgroup>
                                <col width="52px">
                                <col width="100%">
                            </colgroup>
                            <tbody class="listBody">

                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="floatButtonsContainer">
        <a href="javascript:;" class="flowSaveBtn"></a>
        <a href="javascript:;" class="flowCancelBtn"></a>
    </div>
</div>