<% data.forEach(function(item) { %>
<tr>
    <td class="alignCenter">
        <input data-key="_id" type="checkbox" id="<%=item._id%>" value="<%=item._id%>" class="customCheckbox">
        <label for="<%=item._id%>" class="checkboxLabel"></label>
    </td>
    <td class="configurations-input">
        <input id="cm" type="text" class="editable newRow" placeholder="__" readonly value="<%= parseInt(item.configuration.split('*')[0]) %>" maxlength="3"><label for="cm"> cm</label> *
        <input id="rows" type="text" class="editable newRow" placeholder="__" readonly value="<%= parseInt(item.configuration.split('*')[1]) %>" maxlength="2"><label for="rows"> rows</label>
    </td>
</tr>
<% }) %>