<input type="radio" id="1" name="option" class="circle" value="1">
<label for="1">1</label>
<input type="radio" id="2" name="option" class="circle" value="2">
<label for="2">2</label>
<input type="radio" id="3" name="option" class="circle" value="3">
<label for="3">3</label>
<input type="radio" id="4" name="option" class="circle" value="4">
<label for="4">4</label>
<input type="radio" id="5" name="option" class="circle" value="5">
<label for="5">5</label>
<input type="radio" id="6" name="option" class="circle" value="6">
<label for="6">6</label>
<input type="radio" id="7" name="option" class="circle" value="7">
<label for="7">7</label>
<input type="radio" id="8" name="option" class="circle" value="8">
<label for="8">8</label>
<input type="radio" id="9" name="option" class="circle" value="9">
<label for="9">9</label>
<input type="radio" id="10" name="option" class="circle" value="10">
<label for="10">10</label>