<% optionIndex = answer.optionIndex && answer.optionIndex.length ? answer.optionIndex : [answer.optionIndex] %>
<div class="questionsList flexRowStretch noShrink borderBottom">
    <div class="questionsDescription flexGrow">
        <div class="fontBold"><%= answer.customer.name %></div>
        <div class="fontGray fontSmall">position</div>
        <div class="fontGray textEllipsis hoverFullText"><%= translation.location %>: <%= answer.location %></div>
    </div>
    <div class="questionsStatusBlock questionnaireMultiEllipsis noShrink">
        <div class="questionsStatus <%= question.type._id === 'fullAnswer' ? 'answer' : question.type._id === 'singleChoice' ? 'question' : ''%>">
            <span class="questionsCount"><%= answer && answer.text && answer.text.currentLanguage || optionIndex.join(', ') %></span>
        </div>
    </div>
</div>