<div id="login" class="loginDiv">
    <a href="http://alalali.com/en/" title="Return to the al alali homepage" class="mainLogo"><img src="../../images/main-logo.png" alt="logoImg"/></a>
    <form id="loginForm" class="loginForm">
        <fieldset>
            <h2>REGISTRATION</h2>
            <form action="" id="createSuperAdminForm">
                <span class="loginDescription">Email</span><br/>

                <span class="mailBlock">
                    <input name="email" type="text" id="email"><br/>
                    <label for="email"></label>
                </span>

                <span class="loginDescription">Password</span><br/>

                <span class="lockedBlock">
                    <input name="password" type="password" id="passwordInput"><br/>
                    <label for="passwordInput"></label>
                </span>

                <span class="loginDescription">Repeat password</span>
                <br/>

                <span class="lockedBlaok">
                    <input name="repeatPassword" type="password" id="repeatPassword"><br/>
                    <label for="repeatPassword"></label>
                </span>

                <button type="submit" class="login-button">SUBMIT</button>
            </form>
        </fieldset>
    </form>
</div>
