<% collection.forEach(function (model) { %>
<tr>
    <td><%= model.timeStamp %></td>
    <td><%= model.branch.name.currentLanguage %></td>
    <td id="<%- model._id %>"><%= model.price %></td>
    <td><%= model.employee.name.currentLanguage !== ' ' ? model.employee.name.currentLanguage : model.employee.name.en %></td>
    <td>
        <button id="edit" data-id="<%- model._id %>" data-item-id="<%- model.items._id %>" data-value="<%- model.price %>">Edit</button>
        <button id="delete" data-id="<%- model._id %>">Delete</button>
    </td>
</tr>
<% });%>