<div class="form-holder">
    <div class="title">
        <span><%= translation.titleDistribution %></span>
    </div>
    <div id="previewDistribution" class="form previewDistribution">
        <div id="paginationHolder" class="paginationHolder">
        </div>
        <div id="main">
            <div class="magicTableWrap">
                <div class="magicTableLeftPeace">
                    <div class="absoluteContent">
                        <table>
                            <colgroup>
                                <col width="100px">
                                <col width="100px">
                                <col width="100px">
                                <col width="100px">
                            </colgroup>
                            <thead>
                            <tr>
                                <th><%= translation.product %></th>
                                <th><%= translation.variant %></th>
                                <th><%= translation.item %></th>
                                <th><%= translation.packing %></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" class="colspanFix">
                                        <div id="leftHiddenScroll" class="leftHiddenScroll">
                                            <table class="list">
                                                <colgroup>
                                                    <col width="100px">
                                                    <col width="100px">
                                                    <col width="100px">
                                                    <col width="100px">
                                                </colgroup>
                                                <tbody class="magicTableBody">
                                                    <%var itemsIdsArray = [];%>
                                                    <% JSON.left.forEach(function(product){ %>
                                                        <tr>
                                                            <% product.variant.forEach(function(variant, i) { %>
                                                                <% variant.item.forEach(function(item, j, iArr) { %>

                                                                    <% if (i === 0 && (j === 0)) {%>
                                                                        <td class="textEllipsis hoverFullText" <%- (product.itemCount > 1) ? ('rowspan=' + product.itemCount) : '' %> ><%- product.name.currentLanguage %></td>
                                                                    <%}%>

                                                                    <% if (j === 0) {%>
                                                                        <td class="textEllipsis hoverFullText" <%- (iArr.length > 1) ? 'rowspan=' + iArr.length : '' %> >
                                                                            <%- variant.name.currentLanguage%>
                                                                        </td>
                                                                    <%}%>

                                                                    <% itemsIdsArray.push(item._id);%>

                                                                    <td>
                                                                        <div class="textEllipsis hoverFullText">
                                                                            <%- item.name.currentLanguage %>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="textEllipsis hoverFullText">
                                                                            <%- item.packing %>
                                                                        </div>
                                                                    </td>
                                                        </tr>
                                                    <%})%>
                                                    <%})%>
                                                    <%})%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="magicTableRightPeace">
                    <div class="absoluteContent">
                        <table>
                            <colgroup>
                                <% for(var k=0, branchesLen = JSON.right.branches.length; k < branchesLen; k++){ %>
                                    <col width="200px">
                                <%}%>
                            </colgroup>
                            <thead>
                                <tr>
                                    <td colspan="<%=branchesLen%>">
                                        <div id="topHiddenScroll" class="topHiddenScroll">
                                            <table>
                                                <colgroup>
                                                    <% JSON.right.branches.forEach(function() { %>
                                                        <col width="200px">
                                                    <%})%>
                                                </colgroup>

                                                <thead>
                                                <tr>
                                                    <% JSON.right.branches.forEach(function(branch) { %>
                                                        <th data-branchHead="<%- branch._id %>">
                                                            <span class="hoverFullText"><%- branch.outlet.name.currentLanguage%></span>
                                                            <span class="hoverFullText"><%- branch.name.currentLanguage%></span>
                                                        </th>
                                                    <% }) %>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="<%- JSON.right.branches.length %>" class="colspanFix">
                                        <div id="rightscroll" class="scrollable-yx">
                                            <table class="list">
                                                <colgroup>
                                                    <% JSON.right.branches.forEach(function() { %>
                                                        <col width="200px">
                                                    <%})%>
                                                </colgroup>
                                                <tbody id="mainContent" class="magicTableBody">
                                                    <% itemsIdsArray.forEach(function(itemId) { %>
                                                        <tr>
                                                            <% JSON.right.branches.forEach(function(branch) { %>
                                                            <td data-branch="<%- branch._id %>"
                                                                data-item="<%- itemId %>" class="textEllipsis">N</td>
                                                            <%})%>
                                                        </tr>
                                                    <%})%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
