<div class="form-holder personnelInfo largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%= translation.titleObjective %></span>
    </div>
    <div class="tabs smallHeightPreview taskPreview">
        <ul>
            <li><a href="#main"><%= translation.main %></a></li>
            <li><a href="#taskFlow"><%= translation.objectivesTree %></a></li>
        </ul>
        <div class="objectivesTopBtnBlockSmall ">
            <div id="topButtons" class="buttonsWrap"></div>
            <div id="radioButtons"></div>
        </div>
        <div id="main" class="objectivesPreview middleHeightPreview objectivesForm smallHeightPreview"></div>
        <div id="taskFlow" class="taskFlow middleHeightPreview  objectivesPreview scrollable"></div>
    </div>
</div>
