<% objectivesCollection.forEach(function(objective, index){ %>
<div id="<%=objective._id%>" class="row">
    <div class="leftBlock">
        <div class="top">
            <div class="creatorInfo">
                <img src="<%=objective.createdBy.user.imageSrc%>">
                <span class="name"><%= objective.createdBy.user.fullName %></span>
                <span class="label min"><%= objective.createdBy.user.accessRole %></span>
                <span class="label min"><%= objective.createdBy.user.position %></span>
            </div>
            <div class="bottom">
                <img src="<%=objective.assignment.imageSrc%>">
                <span class="label min"><%= objective.assignment.personnel %></span>
            </div>
        </div>
        <div class="bottom">
            <span class="attachment"><%= objective.attachments.length %></span>
            <span class="attachment"><%= objective.comments.length %></span>
        </div>
    </div>
    <div class="centerBlock">
        <div class="descriptionBlock">
            <div class="top"></div>
            <div class="bottom">
                <span class="label priority fontGray"><%= objective.priority.name.currentLanguage %></span>
                <span class="label priority fontGray"><%= objective.location %></span>
            </div>
        </div>
        <div class="datesBlock">
            <div class="top">
                <span class="date"><%= objective.date %></span>
            </div>
            <div class="bottom">
                <span class="label"><%= translation.endDate %> : </span>
                <span class="date"><%= objective.dueDate %></span>
            </div>
        </div>
    </div>
    <div class="rightBlock">
        <div class="top">
            <span><%= translation.progress %></span>

            <div class="progress">
                <span class="progressRate" data-value="<%objective.currentProgress%>"></span>
            </div>
            <span class="min"><%= objective.status.name.currentLanguage %></span>
        </div>
    </div>
</div>
<% }) %>