<div class="featureTitleWrap" data-translation="objectives">
  <%= translation.objectives %>
</div>

<div class="filterBar"></div>

<div id="viewBar" class="viewBar objectivesViewBar">
    <div id="templateSwitcher" class="templateSwitcher">
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="all"
           data-translation="allObjectives"
           id="all"><%= translation.allObjectives %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="assignedToMe"
           data-translation="assignedToMe"
           id="assignedToMe"><%= translation.assignedToMe %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="createdByMe"
           data-translation="createdByMe"
           id="createdByMe"><%= translation.createdByMe %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="myCover"
           data-translation="myCoverObjectives"
           id="myCover"><%= translation.myCoverObjectives %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="closed"
           data-translation="closed"
           id="closed"><%= translation.closed %>
        </a>
        <a href="javascript:;"
           class="changeContentView filterType"
           data-filter-type="myCCObjectives"
           data-translation="myCCObjectives"
           id="myCC"><%= translation.myCCObjectives %>
        </a>
    </div>

    <% if (App.currentUser.workAccess) { %>
        <span id="createBtn" class="readonlyVisible createBtn" data-translation="newObjective"><%= translation.newObjective %></span>
    <% } %>

    <div id="paginationHolder" class="paginationHolder"></div>

</div>