<div class="form-holder personnelInfo promotionView displayBrandingDialogContainer viewSubObjectives">
    <div class="title">
        <span class="titleDescription"><%= translation.titleSubObjectiveView%></span>
    </div>
    <div class="notificationForm viewSubObjectivesScroll">
        <div class="listnailsHolder scrollable">
            <div class="listTable">
            <% var percent; %>
            <% collection.forEach(function(model, index){ %>
            <div class="templateWrap listRow <%= model.objectiveType === 'individual' ? 'leftBorderY' : 'leftBorderG' %>"
                 data-id="<%= model._id %>">
                <div class="userBlock flexColumn">
                    <div class="top flexRowStart bottomLine">
                        <div class="left flexColumn">
                            <img src="preview/<%= model.createdBy.user.imageSrc %>" class="imgCircle userImgBig">
                        </div>
                        <div class="right flexColumn">
                            <div class="userName hoverFullText">
                                <%= (model.createdBy.user && model.createdBy.user.firstName) ?
                                model.createdBy.user.firstName.currentLanguage + ' ' +
                                model.createdBy.user.lastName.currentLanguage : '' %>
                            </div>
                            <div class="description hoverFullText">
                                <%= (model.createdBy.user && model.createdBy.user.accessRole &&
                                model.createdBy.user.accessRole.name) ?
                                model.createdBy.user.accessRole.name.currentLanguage
                                : '' %>
                            </div>
                            <div class="description hoverFullText">
                                <%= (model.createdBy.user && model.createdBy.user.position &&
                                model.createdBy.user.position.name) ? model.createdBy.user.position.name.currentLanguage
                                :
                                '' %>
                            </div>
                        </div>
                    </div>
                    <div class="middle flexColumn">
                        <% model.assignedTo.forEach( function(assignedTo) { %>
                        <div class="flexRowStart">
                            <img src="preview/<%= assignedTo.imageSrc %>" class="imgCircle userImgSmall">
                            <div class="description fontGray">
                                <% if (assignedTo && assignedTo.firstName && assignedTo.lastName) { %>
                                <%= assignedTo.firstName.currentLanguage + ' ' + assignedTo.lastName.currentLanguage %>
                                <% } %>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <div class="bottom flexRowStart">
                        <span class="userClip"><%= model.attachments.length %></span>
                        <span class="userMassage"><%= model.comments.length %></span>
                    </div>
                </div>
                <div class="locationBlock flexGrow flexColumn">
                    <div class="locationTop">
                        <div class="flexRow">
                            <div class="locationTitle"><%= model.title.currentLanguage %></div>
                            <span class="textSmall"></span>
                        </div>
                        <div class="fontSmall fontGray textEllipsis multiEllipsis"><%= model.description.currentLanguage
                            %>
                        </div>
                    </div>
                    <div class="locationBottom flexRowStart">
                        <span class="priority fontGray"><%= translation.priority %>: <%= model.priority.name.currentLanguage %></span>
                        <span class="location flexGrow textEllipsis fontGray hoverFullText"><%= translation.location %>: <%= model.location %> </span>
                        <span class="fontGray noShrink"><%= translation.endDate %>:</span>
                    </div>
                </div>
                <div class="dateBlock flexColumn">
                    <div class="dateWrap flexRow">
                        <span class="name dates"><%= model.dateStart %></span>
                    </div>
                    <div class="dateWrap flexRow">
                        <span class="name dates"><%= model.dateEnd %></span>
                    </div>
                </div>
                <div class="progressBlock noShrink flexColumn">
                    <div>
                        <span class="name"><%= translation.progress %></span>
                    </div>
                    <div class="progress">
            <span class="progressRate">
                <span class="progressRateInner" style="width: <%= model.complete %>%"></span>
            </span>
                        <span class="percent"><%= model.complete %>%</span>
                    </div>
                    <div class="bottom">
                        <span class="inProgress"><%= model.status.name.currentLanguage %></span>
                    </div>
                </div>
            </div>
            <% }) %>
            </div>
        </div>
    </div>
</div>