<div class="form-holder">
    <div class="title">
        <span class="titleDescription"><%= translation.changePassword %></span>
    </div>
    <p class="title-description"><%= translation.changePassDescript %></p>
    <form id="changePassword" class="changePassword" action="" method="post">
        <div class="person-info table">
            <div class="row">
                <div class="cell">
                    <label for="oldPassword"><%= translation.oldPassword %></label>
                </div>
                <div class="cell">
                    <input type="password" name="oldPassword" id="oldPassword" class="inputNarrow" required maxlength="32" />
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <label for="newPassword"><%= translation.newPassword %></label>
                </div>
                <div class="cell">
                    <input type="password" name="newPassword" id="newPassword" class="inputNarrow" required maxlength="32" />
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <label for="confirmNewPassword"><%= translation.confirmNewPassword %></label>
                </div>
                <div class="cell">
                    <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="inputNarrow" required maxlength="32" />
                </div>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
</div>
