<% newTitle = title || 'assignTo'; %>
<div class="form-holder">
    <div class="title">
        <span class="titleDescription"><%= translation[newTitle] %></span>
    </div>
    <div id="listForSelection" class="listForSelectionWithoutTabs">
        <div class="tabs">
            <div id="colleagues" class="colleagues">
                <div class="filterBar"></div>
                <div  id="colleaguesInner" class="colleaguesInner">
                    <!-- colleagues list -->
                </div>
            </div>
        </div>
    </div>
</div>
