<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QualPro</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
    <header>

    </header>
    <div class="main">
        <div class="sidebar">
            <ul>
                <li><a href="#">list 1</a></li>
                <li><a href="#">list 1</a></li>
                <li><a href="#">list 1</a></li>
                <li><a href="#">list 1</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="content-top">
                <div class="feature-title">
                    Al Alali
                </div>
            </div>
        </div>
    </div>
</body>
</html>