<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QualPro</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
</head>
<body>
    <header>
        <div class="user-panel">
            <div class="logo">
                <img src="../assets/images/main-logo-animate2.png" alt="">
            </div>
            <div class="logo-stroke">
                <img src="../assets/images/main-logo-stroke.png" alt="">
            </div>
            <div class="user-detail">
                <div class="avatar-header">
                    <img src="../assets/images/no_photo.png" alt="">
                </div>
                <span class="personnel-name">COUNTRY ADMINUAE</span>
                <br>
                <span class="personnel-position">Customer Success</span>
            </div>
        </div>
        <ul class="header-buttons">
            <li><a href="#" class="contact-us-icon"></a></li>
            <li><a href="#" class="question-icon"></a></li>
            <li><a href="#" class="bell-icon"></a></li>
            <li><a href="#" class="list-icon"></a></li>
            <li><a href="#" class="language-selection">EN</a></li>
            <li><a href="#" class="logout-icon"></a></li>
        </ul>
    </header>
    <div class="main">
        <div class="sidebar">
            <ul class="sidebar-menu">
                <li class="parent-left selected"><a href="#">list 1</a></li>
                <li class="parent-left"><a href="#">list 1</a></li>
                <li class="parent-left"><a href="#">list 1</a></li>
                <li class="parent-left"><a href="#">list 1</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="content-top">
                <div class="feature-title">
                    Al Alali
                </div>
            </div>
        </div>
    </div>
</body>
</html>