<div class="form-holder personnelInfo largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%= translation.taskPreview %></span>
    </div>
    <div class="tabs smallHeightPreview taskPreview">
        <ul>
            <li><a href="#main"><%= translation.main %></a></li>
            <li><a href="#taskFlow"><%= translation.taskFlow %></a></li>
        </ul>

        <div class="objectivesTopBtnBlockSmall">
            <div id="topButtons" class="buttonsWrap">
            </div>
        </div>

        <div id="main" class="objectivesForm objectivesPreview middleHeightPreview inner smallHeightPreview">
        </div>
        <div id="taskFlow" class="taskFlowPreview scrollable">
        </div>
    </div>
</div>