<div class="documentItem thumbnail" data-id="1">
    <div class="documentBody">
        <input type="checkbox" id="1" value="1" class="customCheckbox"/>
        <label for="1" class="checkboxLabel"></label>
            <img src="images/folder.png" class=" folder">
        <% if (App.currentUser.workAccess){%>
        <div class="editContent"></div>
        <%}%>
    </div>
    <div class="documentFooter">
        <span class="documentDescription hoverFullText fontGray">Title</span>
        <span class="documentDate">14.10.2016</span>
    </div>
</div>

<% collection.forEach(function(item, index){ %>
<div class="documentItem thumbnail" data-id="<%=item._id%>">
    <div class="documentBody">
        <input type="checkbox" id="<%=item._id%>" value="<%=item._id%>" class="customCheckbox"/>
        <label for="<%=item._id%>" class="checkboxLabel"></label>
        <div class="bannerWrap <%= item._id %>">
            <div class="bannerMin">
                <div data-id="<%= item._id %>"
                     class="bannerImage fileThumbnailItem brandItem masonryThumbnail">
                    <div class="thumbnail_js thumbnailBody">
                        <% if (item.attachments && item.attachments[0]){
                            if (item.attachments[0].preview) { %>
                                <img src="<%= item.attachments[0].preview %>" class="bannerImage">
                            <% } else {%>
                                <div class="bannerImage iconThumbnail <%= item.attachments[0].type %>"></div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            <span class="textSmall floatRight"><%= item.status && item.status.capitalizer("firstCaps") || '' %></span>
        </div>
        <% if (App.currentUser.workAccess){%>
        <div class="editContent"></div>
        <%}%>
    </div>
    <div class="documentFooter">
        <span class="documentDescription hoverFullText fontGray"><%= item.title || '' %></span>
        <span class="documentDate"><%= item.createdBy.date %></span>
    </div>
</div>
<% }) %>
