<div class="dialogCategotyWrap">
    <div class="title">
        <span class="titleDescription"><%= translation.titleCreateVisibility %></span>
    </div>
    <form id="mainVisForm" class="visibilityContainer flexRow">
        <div class="banner_inner bannerFullWidth">
            <div class="beforeTitle fontBold fontDefault borderBottom"><%= translation.before %></div>

            <div class="banner_inner_top">
                <span class="fontDefault"></span>
            </div>

            <div class="bannerBig">
                <div id="imageMy" class="bannerImage">

                </div>
                <div class="bannerDescription picSquare bannerIcon">
                    <p class="uploadValue fontMedium"><%= translation.addBeforeMedia %></p>
                    <input type="file"
                           id="inputBefore"
                           class="uploadInput"
                           name="inputBefore"
                           accept="<%=allowed%>"
                    />
                </div>
            </div>

            <div class="banner_textBlock">
                <p class="uploadDescription fontDefault"><%= translation.description %></p>
                <textarea id="beforeForm" name="description"></textarea>
            </div>
        </div>
    </form>
</div>
