<div class="dialogCategotyWrap visibilityContainer inStoreForm">
    <%
    var files = [model.before.files] || [];
    var fileType;
    var container;
    %>
    <div class="title">
        <span class="titleDescription"><%= translation.titleEditVisibility %></span>
    </div>
    <form id="mainVisForm" class="visibilityContainer flexRow inStoreForm">
        <div class="banner_inner bannerFullWidth">
            <div class="beforeTitle fontBold fontDefault borderBottom"><%= translation.before %></div>
            <div class="scrollable partType beforeEdit">
                <div class="banner_inner_top">
                    <span class="fontDefault"><%= branchName %></span>
                </div>
                <%
                files.forEach(function(file){
                    fileType = file.contentType && file.contentType.substr(0, 5);
                    if(fileType==='video'){
                        container = file.url ? '<video width="400" controls><source src="'+file.url+'"></video>' : '';
                    } else {
                        container = file.url ? '<img class="imgResponsive" src="'+ file.url+'" id="loadedImage">' : '';
                    }
                %>
                <div class="bannerBig" id="<%= files._id %>">
                    <div class="close left arrowLeft" id="removeFile"></div>
                    <div id="imageMy" class="bannerImage"><%= container %></div>

                    <div class="bannerDescription picSquare bannerIcon">
                        <p class="uploadValue fontMedium"><%= translation.addBeforeMedia %></p>
                        <input type="file"
                               id="inputBefore"
                               class="uploadInput"
                               name="inputBefore"
                               accept="<%=allowed %>"
                                />
                    </div>
                </div>
                <% }) %>

                <div class="banner_textBlock">
                    <p class="uploadDescription fontDefault"><%= translation.description %></p>
                    <div id="beforeForm"><%= model.before.description %></div>
                </div>
            </div>
        </div>
    </form>
</div>
