<div class="ui-dialog-content ui-widget-content">
    <div class="descriptionBlock"><span>Comments</span></div>
    <div class="contactUsForm">
        <textarea class="comments" id="comment" cols="30" rows="1" placeholder="Write some comment..."></textarea>
    </div>
    <div id="comments-holder" class="scrollable" style="max-height: 300px">
        <% _.each(comments, function(comment) { %>
        <div class="ui-dialog-content ui-widget-content templateWrap">
            <div class="commentBlock flrow flexColumn">
                <span><%- comment %></span>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset"></div>
</div>