<div class="form-holder personnelInfo achivementFormWrap largeHeightPreview">
    <div class="title">
        <span class="titleDescription"><%= translation.titlePreview %></span>
    </div>
    <div id="main" class="contactUsFormPreview">

        <div class="blockObjective contactUsForm">
            <div class="block-left borderRight">
                <div class="scrollable">
                    <div class="table">
                        <div class="row borderBottomWithoutClearfix">
                            <div class="cell alignTop"><span><%- translation.employeeName %></span></div>
                            <div class="cell"><span><%- jsonModel.createdBy.user.name %></span></div>
                        </div>
                        <div class="row">
                            <div class="cell"><span><%- translation.country %></span></div>
                            <div class="cell"><span>UNITED ARAB EMIRATES</span></div>
                        </div>
                        <div class="row borderTop">
                            <div class="cell"><span><%- translation.type %></span></div>
                            <div class="cell"><span>Comment</span></div>
                        </div>
                        <div class="row">
                            <div class="cell"><span><%- translation.dateCreated %></span></div>
                            <div class="cell"><span>05.10.2016</span></div>
                        </div>
                        <div class="row">
                            <div class="cell"><span><%- translation.status %></span></div>
                            <div class="cell"><span>Resolved</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-right">
                <div class="absoluteContent">
                    <div class="scrollable">
                        <div class="objectivesPaddingBlock">
                            <div class="descriptionBlock floatBlock">
                                <span><%- translation.description %></span>
                            </div>
                            <span class="descriptionValue heightDescription fontBold fontMedium hoverFullText"><%- jsonModel.description.currentLanguage %></span>
                        </div>
                        <div class="attachmentsBlock">
                            <div class="attachmentsHeader">
                                <span class="attachmentsDescription fontBold"><%- translation.attachments %></span>
                            </div>
                            <div class="filesBlock" style="display: block;">
                                <span class="filesTitle"><%- translation.files %></span>
                                <div class="fileThumbnail">

                                <% _.each(jsonModel.attachments, function(attachment) { %>
                                    <div class="fileThumbnailItem brandItem masonryThumbnail">
                                        <div class="thumbnail_js thumbnailBody">
                                            <img src="<%- attachment.url %>" class="mCS_img_loaded">
                                            <div class="objectivesFileName fontMicro">
                                                <%- attachment.name %>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
