<div class="dialogCategoryWrapInner">
    <div id="<%=contents[0]+'Holder'%>"
         data-content="<%=contents[0]%>"
         class="dialogCategoryItem categoryHalfWidth"></div>
    <div id="<%=contents[1]+'Holder'%>"
         data-content="<%=contents[1]%>"
         class="dialogCategoryItem categoryHalfWidth"></div>
</div>

<div class="dialogCategoryWrapInner itemPriceTable">
    <div id="<%=contents[2]+'Holder'%>"
         data-content="<%=contents[2]%>"
         class="dialogCategoryItem categoryFullWidth"></div>
</div>
